.Weather {
  color: rgb(172, 162, 162);
  border: 1px solid rgb(107, 105, 105);
  font-family: "Oxygen";
  font-style: italic;
  padding: 15px;
}
.noun {
  text-align: left;
}
.first {
  text-align: left;
}
.mold {
  text-align: left;
}
.part {
  font-size: 30px;
}
li {
  font-weight: 100;
  line-height: 15px;
  list-style: none;
}
.temp {
  font-size: 60px;
  font-weight: bold;
  color: rgb(172, 162, 162);
}
.unit {
  font-size: 20px;
  font-weight: 200;
  position: relative;
  line-height: 1;
  top: -30px;
  margin-left: 0;
}
.form-part:hover {
  background: rgb(187, 177, 205);
  color: #000000;
}
form {
  text-align: left;
}
